<!-- Page Content -->
           <!-- Content Row -->
           <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-3">
              <div class="card border-left-grey shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-md-center font-weight-bold text-uppercase mb-1">
                            Admin
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                            <%= admin %> <%= admin !== 1 ? "Users" : "User" %>
                        </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-chalkboard-teacher fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-4 mb-3">
              <div class="card border-left-grey shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-md-center font-weight-bold text-uppercase mb-1">
                            Band
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                            <%= band %> <%= band !== 1 ? "Bands" : "Band" %>
                        </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-4 mb-3">
              <div class="card border-left-grey shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-md-center font-weight-bold text-uppercase mb-1">
                        Project
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                        <%= project %> <%= project !== 1 ? "Projects" : "Project" %>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-4 mb-3">
              <div class="card border-left-grey shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-md-center font-weight-bold text-uppercase mb-1">
                        Portofolio
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                        <%= porto %> <%= porto !== 1 ? "Portofolios" : "Portofolio" %>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-folder fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-6 col-md-6 mb-6">
                <div class="card border-left-grey shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-md-center font-weight-bold text-uppercase mb-1">
                          Category
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                            <%= category %> <%= category !== 1 ? "Categories" : "Category" %>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-book fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-6 col-md-6 mb-6">
                <div class="card border-left-grey shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-md-center font-weight-bold text-uppercase mb-1">
                          Journal
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                            <%= journal %> <%= journal !== 1 ? "Journals" : "Journal" %>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-book fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>

          <!-- Content Row -->